#vim
*.swp
vim/.netrwhist
vim/backup/*
vim/swap/*
vim/view/*

#mpd
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/playlists

#ncmpcpp
ncmpcpp/error.log

#mpdscribble
mpdscribble/mpdscribble.log
mpdscribble/lastfm.journal

# mutt
mutt/cache/*
mutt/mailboxes

# weechat
weechat/weechat_crash*
weechat/logs
weechat/irc.conf
weechat/weechat.log
weechat/script/plugins.xml.gz
weechat/alias.conf
weechat/aspell.conf
weechat/buffers.conf
weechat/charset.conf
weechat/exec.conf
weechat/iset.conf
weechat/logger.conf
weechat/plugins.conf
weechat/relay.conf
weechat/script.conf
weechat/sec.conf
weechat/trigger.conf
weechat/xfer.conf
weechat/buflist.conf
weechat/fifo.conf
