[options]
resize_grip = false
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
visible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = monospace 10
scrollback_lines = 1000
search_wrap = true
#icon_name = terminal

# 0.0: opaque, 1.0: transparent
transparency = 0.0

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default
browser = chromium

# termite has the correct terminfo, but some applications hardcode TERM checks
term = termite

[colors]
background = #151515
foreground = #d7d7d7
#foreground_bold = #ffffff
#foreground_dim = #888888
cursor = #cf6a4c

# colors from color0 to color254 can be set
color11 = #ffb96c
color6 = #8fbfdc
color2 = #799d6a
color10 = #799d6a
color9 = #cf6a4c
color7 = #303030
color12 = #8197bf
color1 = #cf6a4c
color4 = #8197bf
color13 = #ff3b77
color15 = #eeeeec
color3 = #ffb964
color5 = #eeeeec
color14 = #8fbfdc
